{% set subscription = data['subscription'] %}
{% set subscriptionMeta = subscription['meta'] %}
{% set subscriptionPrefix = subscription['ID']~'_'~subscription['post_type']~'_' %}
{% set plan = data['plan'] %}
{% set planMeta = plan['meta'] %}
{% set planPrefix = plan['ID']~'_'~plan['post_type']~'_' %}

<div class="axisubs wrap">
    Dear {{ subscriptionMeta[subscriptionPrefix~'first_name'] }}<br><br>
    Your subscription for the plan: {{ planMeta[planPrefix~'name'] }} is Activated.<br><br>
    Thank you
</div>