<div class="axisubs wrap">
    <div class="axisubs-subscribed-title">
    </div>
    {{ message | raw }}
    <div class="axisubs-subscribed-con">
        <a class="success-link" href="{{ subscribtions_url }}">{{__('[:ru]Перейти к списку подписок[:ro]Înapoi la lista de abonare')}}</a>
    </div>
</div>