<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_period">Duration</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" class="required" name="axisubs[plans][period]" id="axisub_plan_period" value="{{ item['meta'][item['ID']~'_axisubs_plans_period'] }}"/>
        <select name="axisubs[plans][period_units]" id="axisub_plan_period_units">
            {% if(item['meta'][item['ID']~'_axisubs_plans_period_units'] != '') %}
                {% set selectedPlanUnit = item['meta'][item['ID']~'_axisubs_plans_period_units'] %}
            {% else %}
                {% set selectedPlanUnit = 'M' %}
            {% endif %}
            <option value="D" {% if selectedPlanUnit == 'D' %} selected {% endif %}>Days</option>
            <option value="W" {% if selectedPlanUnit == 'W' %} selected {% endif %}>Weeks</option>
            <option value="M" {% if selectedPlanUnit == 'M' %} selected {% endif %}>Months</option>
            <option value="Y" {% if selectedPlanUnit == 'Y' %} selected {% endif %}>Years</option>
        </select>
        <input type="checkbox" name="axisubs[plans][period_forever]" id="axisub_plan_period_forever" value="1" {% if item['meta'][item['ID']~'_axisubs_plans_period_forever'] == '1' %} checked {% endif %}/>
        <label for="axisub_plan_period_forever">Forever</label>
    </div>
</div>

{#<div class="axisubs-fields">#}
    {#<div class="axisubs-fields-label">#}
        {#<label for="axisub_plan_period">Units of Duration</label>#}
    {#</div>#}
    {#<div class="axisubs-fields-content">#}
        {#<select name="axisubs[plans][period_units]" id="axisub_plan_period_units">#}
            {#<option value="D" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'D' %} selected {% endif %}>Days</option>#}
            {#<option value="W" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'W' %} selected {% endif %}>Weeks</option>#}
            {#<option value="M" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'M' %} selected {% endif %}>Months</option>#}
            {#<option value="Y" {% if item['meta'][item['ID']~'_axisubs_plans_period_units'] == 'Y' %} selected {% endif %}>Years</option>#}
        {#</select>#}
        {#<span class="help-text">Regular subscription units of duration.</span>#}
    {#</div>#}
{#</div>#}