<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_period">Duration</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" class="required" name="axisubs[plans][period]" id="axisub_plan_period" value="{{ item['meta'][item['ID']~'_axisubs_plans_period'] }}"/>
        <select name="axisubs[plans][period_units]" id="axisub_plan_period_units">
            {% if(item['meta'][item['ID']~'_axisubs_plans_period_units'] != '') %}
                {% set selectedPlanUnit = item['meta'][item['ID']~'_axisubs_plans_period_units'] %}
            {% else %}
                {% set selectedPlanUnit = 'M' %}
            {% endif %}
            <option value="D" {% if selectedPlanUnit == 'D' %} selected {% endif %}>Days</option>
            <option value="W" {% if selectedPlanUnit == 'W' %} selected {% endif %}>Weeks</option>
            <option value="M" {% if selectedPlanUnit == 'M' %} selected {% endif %}>Months</option>
            <option value="Y" {% if selectedPlanUnit == 'Y' %} selected {% endif %}>Years</option>
        </select>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_price">Price</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" class="required" name="axisubs[plans][price]" id="axisub_plan_price" value="{{ item['meta'][item['ID']~'_axisubs_plans_price'] }}"/>
        <span class="help-text">Plan price</span>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_setup_cost">Setup cost</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" name="axisubs[plans][setup_cost]" id="axisub_plan_setup_cost" value="{{ item['meta'][item['ID']~'_axisubs_plans_setup_cost'] }}"/>
        <span class="help-text">One-time setup fee charged as part of the first invoice.</span>
    </div>
</div>

<div class="axisubs-fields">
    <div class="axisubs-fields-label">
        <label for="axisub_plan_period">Trial Period</label>
    </div>
    <div class="axisubs-fields-content">
        <input type="text" name="axisubs[plans][trial_period]" id="axisub_plan_trial_period" value="{{ item['meta'][item['ID']~'_axisubs_plans_trial_period'] }}"/>
        <select name="axisubs[plans][trial_period_units]" id="axisub_plan_trial_period_units">
            {% if(item['meta'][item['ID']~'_axisubs_plans_trial_period_units'] != '') %}
                {% set selectedPlanUnit = item['meta'][item['ID']~'_axisubs_plans_trial_period_units'] %}
            {% else %}
                {% set selectedPlanUnit = 'M' %}
            {% endif %}
            <option value="D" {% if selectedPlanUnit == 'D' %} selected {% endif %}>Days</option>
            <option value="W" {% if selectedPlanUnit == 'W' %} selected {% endif %}>Weeks</option>
            <option value="M" {% if selectedPlanUnit == 'M' %} selected {% endif %}>Months</option>
            <option value="Y" {% if selectedPlanUnit == 'Y' %} selected {% endif %}>Years</option>
        </select>
    </div>
</div>