{% extends '@AxisubsAppContentRestriction/Admin/tabs/tab.twig' %}

{% block body %}
<div class="axisubs wrap">
    <h2>{{ pagetitle }}
    </h2>
    {% set metaPrefix = item['ID']~'_'~item['post_type']~'_' %}
    <form method="post" action="?page=app-index&task=appTask&p=axisubs-app-content-restriction">
        <div class="axisubs-fields-con">
            <div class="axisubs-fields">
                <div class="axisubs-fields-label">
                    <label for="axisub_payment_login_message">Login Message</label>
                </div>
                <div class="axisubs-fields-content">
                    {{ dataEditor['login_message'] | raw }}
                    <span class="help-text">Message to be displayed before login instead of content.</span>
                </div>
            </div>

            <div class="axisubs-fields">
                <div class="axisubs-fields-label">
                    <label for="axisub_payment_subscribe_message">Subscribe Message</label>
                </div>
                <div class="axisubs-fields-content">
                    {{ dataEditor['subscribe_message'] | raw }}
                    <span class="help-text">Message to be displayed if the user don't have access to that content.<br><b>Note: </b>We can use the tag [PLANS] within the editor so it will replace the plan list to subscribe.</span>
                </div>
            </div>

            <div class="axisubs-fields">
                <div class="axisubs-fields-label">
                    <input type="hidden" name="task" value="appTask"/>
                    <input type="hidden" name="apptask" value="save"/>
                </div>
                <div class="axisubs-fields-content page-btn">
                    <button type="submit" class="btn page-title-action">Save</button>
                    <a href="?page=app-index" class="btn page-title-action">Cancel</a>
                </div>
            </div>
        </div>
     </form>
</div>
{% endblock %}